@font-face {
    font-family: 'JetBrains Mono';
    src: url('eot/JetBrainsMono-Regular.eot'),
    url('woff/JetBrainsMono-Regular.woff') format('woff'),
    url('woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
